
create environment file name as .env.development.local,.env.production.local
and place following configuration data.

CDN_REST_API=https://eu-cdn.contentstack.com/v3
NEXT_PUBLIC_CDN_REST_API=https://eu-cdn.contentstack.com/v3
API_KEY=yyyyyyyyyyy
NEXT_PUBLIC_API_KEY=yyyyyyyyyyy
DELIVERY_TOKEN=xxxxxxxxxxxx
NEXT_PUBLIC_DELIVERY_TOKEN=xxxxxxxxxxxx
ENVIRONMENT=production
NEXT_PUBLIC_ENVIRONMENT=production
REGION=eu
